{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <header class="masthead d-flex">
                <div class="text-center" style="background-color:#EAEDED ">
                    <h1 class="mb-1 text-dark">Cremería La Presa</h1>
                    <h3 class="mb-1 text-dark">
                        <em>Administración de tu negocio</em>
                    </h3>
                </div>
            </header>
        </section>
    </div>
</main>

{% endblock %}